<h1>Users List</h1>

<p *ngIf="!rowData"><em>Loading...</em></p>

<!--<table class='table' *ngIf="users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Job Title</th>
      <th>Date Started</th>
      <th>Office Location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.jobTitle }}</td>
      <td>{{ user.dateStarted }}</td>
      <td>{{ user.officeLoction }}</td>
    </tr>
  </tbody>
</table>-->

<ag-grid-angular *ngIf="rowData"
                 class="ag-theme-balham"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"
                 [defaultColDef]="defaultColDef"
                 (cellClicked)="onCellClicked($event)"
                 (gridReady)="onGridReady($event)"
                 [editType]="editType"
                 (cellValueChanged)="onCellValueChanged($event)">
</ag-grid-angular>
